<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>

    <!--bootstrap-->
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/style.css" rel="stylesheet" />

    <!--font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script src="~/Scripts/Scripts.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="~/css/landing/bootstrap.min.css">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="~/css/landing/LineIcons.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="~/css/landing/magnific-popup.css">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="~/css/landing/slick.css">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="~/css/landing/animate.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="~/css/landing/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="~/css/landing/style.css">

</head>
<body style="overflow-y: scroll;">
    <header>
        @*============================ DUMMY NAV FOR FIXING BUG, CHANGES HERE WON'T APPLY ===================================*@
        <nav style="display:none;" class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
            <a class="navbar-brand d-flex w-25 mr-auto" href="/"><img style="height: 4em;" src="~/QLGT_BLUE.png" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
                <ul class="navbar-nav w-100 justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Đăng ký</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Home_DangKiem">Đăng kiểm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Create_BB">Xử lý vi phạm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cấp GPLX</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Cảnh báo kẹt xe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Điều khiển giao thông</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Tra cứu camera hành trình</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav w-25 ml-auto justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-bell"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-cog"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        @*============================ END OF DUMMY NAV ===================================*@


        <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
            <a href="/" class="navbar-brand d-flex w-25 mr-auto"><img style="height: 4em;" src="~/QLGT_BLUE.png" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
                <div style="@(ViewData["Title"].ToString() == "Index" ? "display: none;" : "")">
                    <ul style="margin-left:10%;" class="navbar-nav w-100 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Đăng ký</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["Title"].ToString() == "Home_DangKiem" ? "active" : "")" asp-action="Home_DangKiem">Đăng kiểm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["Title"].ToString() == "Create_BB" ? "active" : "")" asp-action="Create_BB">Xử lý vi phạm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["Title"].ToString() == "Home_GPLX" ? "active" : "")" asp-action="Home_GPLX">Cấp GPLX</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Cảnh báo kẹt xe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Điều khiển giao thông</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Tra cứu camera hành trình</a>
                        </li>
                        <li class="nav-item more-menu">
                            <a class="nav-link disabled" href="#">Cài đặt tài khoản</a>
                        </li>
                    </ul>
                </div>

                @*<ul id="more-menu" class="nav navbar-nav ml-auto w-25 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-cog"></i>
                    </a>
                </li>
            </ul>*@
                <span id="more-menu" class="nav navbar-nav ml-auto w-25 justify-content-end">
                    <partial name="_LoginPartial.cshtml" />
                </span>
            </div>
        </nav>

    </header>

    <div class="container" style="margin-bottom: 100px;">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - WebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        initListener();
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>