@model IEnumerable<TheFront.Models.ThongTinLichHenModel>

@{
    ViewData["Title"] = "CheckAppointment_DangKiem";
}

<h1 style="display:flex; justify-content:center; margin-top: 1.5em; margin-bottom: 1em;">Lịch hẹn đăng kiểm</h1>

<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Ngày tạo lịch
                </th>
                <th>
                    Người đại diện
                </th>
                <th>
                    Thông tin liên lạc
                </th>
                <th>
                    Số CMND
                </th>
                <th>
                    Khung giờ hẹn
                </th>
                <th>
                    Trạng thái xét duyệt
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ngayDangKy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tenNguoiDangKy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.soDienThoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CMND)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.khungGio)
                </td>
                <td>
                    @(item.trangThaiXetDuyet == true ? "Đã xét duyệt" : "Chưa xét duyệt")
                    @*@Html.DisplayFor(modelItem => item.trangThaiXetDuyet)*@
                </td>
                <td>
                    @*@Html.ActionLink("Chi tiết lịch hẹn", "Details_LichHen", new { id=item.id })*@
                    @if (item.trangThaiXetDuyet == false) {

                    @Html.ActionLink("Xét Duyệt", "XetDuyet_LichHen", new { id = item.id });
                    }

                </td>
            </tr>
            }
        </tbody>
    </table>
</body>

<div>
    <a href="javascript:history.back()">Quay về</a>
</div>

@*<script>
    function RefreshPage() {
        window.location.reload()
    }
    @foreach (var item in Model)
    {
        @if (item.trangThaiXetDuyet == false) {
            @Html.Raw("<script>$(\"#XetDuyet\").on(\"click\", function () { var id = @item.id; $.ajax({ type: 'PUT', url: '/api/ThongTinLichHen/' + id, contentType: 'json', success: function (r) { if (r) { alert(\"Customer record updated.\"); } else { alert(\"Customer not found.\"); } } }); });</script>");
        }
    }
</script>*@