@model TheFront.Models.PhuongTiensModel

@{
    ViewData["Title"] = "Details_DangKiem";
}

<h1 style="display:flex; justify-content:center; margin-top: 1.5em; margin-bottom: 1em;">Chi Tiết Phương Tiện</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.nhanHieu)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.nhanHieu)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.loaiPhuongTien)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.loaiPhuongTien)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.soKhung)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.soKhung)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.soMay)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.soMay)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.kichThuocBao)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.kichThuocBao)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.khoiLuongBanThan)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.khoiLuongBanThan)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.soNguoiChoPhepCho)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.soNguoiChoPhepCho)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.soTruc_ChieuDaiCoSo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.soTruc_ChieuDaiCoSo)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.kichThuocThungHang)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.kichThuocThungHang)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.khoiLuongHangChoPhep)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.khoiLuongHangChoPhep)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.khoiLuongTongChoPhep)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.khoiLuongTongChoPhep)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.khoiLuongRomooc)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.khoiLuongRomooc)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.thongBaoDanhChoPhuongTien)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.thongBaoDanhChoPhuongTien)
        </dd>
    </dl>
</div>
<div>
    <a href="javascript:history.back()">Quay về</a>
</div>
