@model TheFront.Models.PhuongTiensModel

@{
    ViewData["Title"] = "Details_DangKiem";
}

<h1 style="display:flex; justify-content:center; margin-top: 1.5em; margin-bottom: 1em;">Chi Tiết Phương Tiện</h1>

<div>
    <a href="javascript:history.back()">Quay về</a>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-6">
            Nhãn hiệu
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.nhanHieu)
        </dd>
        <dt class="col-sm-6">
            Loại phương tiện
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.loaiPhuongTien)
        </dd>
        <dt class="col-sm-6">
            Số khung
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.soKhung)
        </dd>
        <dt class="col-sm-6">
            Số máy
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.soMay)
        </dd>
        <dt class="col-sm-6">
            Kích thước bao
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.kichThuocBao)
        </dd>
        <dt class="col-sm-6">
            Khối lượng bản thân
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.khoiLuongBanThan)
        </dd>
        <dt class="col-sm-6">
            Số người cho phép chở
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.soNguoiChoPhepCho)
        </dd>
        <dt class="col-sm-6">
            Số trục/ Chiều dài cơ sở
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.soTruc_ChieuDaiCoSo)
        </dd>
        <dt class="col-sm-6">
            Kích thước thùng hàng
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.kichThuocThungHang)
        </dd>
        <dt class="col-sm-6">
            Khối lượng hàng cho phép chở
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.khoiLuongHangChoPhep)
        </dd>
        <dt class="col-sm-6">
            Tổng khối lượng cho phép lưu thông
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.khoiLuongTongChoPhep)
        </dd>
        <dt class="col-sm-6">
            Khối lượng romooc cho phép
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.khoiLuongRomooc)
        </dd>
        <dt class="col-sm-6">
            Thông báo
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.thongBaoDanhChoPhuongTien)
        </dd>
    </dl>
</div>