@model IEnumerable<TheFront.Models.GiayPhepLaiXeModel>

@{
    ViewData["Title"] = "Home_GPLX";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="display:flex; justify-content:center; margin-top: 1.5em; margin-bottom: 1em;">Danh sách giấy phép lái xe</h1>

<div>
    <a asp-action="Create_GPLX">Tạo mới</a>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Họ tên
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                Nghề nghiệp
            </th>
            <th>
                CMND
            </th>
            <th>
                Ngày cấp
            </th>
            <th>
                Nơi cấp
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Quốc tịch
            </th>
            <th>
                Hạng mục GPLX
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgheNghiep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMND)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiCap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuocTich)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HangMucGPLX)
            </td>
            <td>
                @Html.ActionLink("Details", "Details_GPLX", new { id = item.id })
            </td>
        </tr>
        }
    </tbody>
</table>
