@model TheFront.Models.LuatViewModel

@{
    ViewData["Title"] = "Home_TraCuuLuat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="display:flex; justify-content:center; margin-top: 1.5em; margin-bottom: 1em;">Tra cứu luật</h1>

<form method="post">
    <div class="row form-group">
        <div class="col-md-7">
            <input asp-for="@Model.Text" class="form-control" id="TextSearchInput" placeholder="Nhập nội dung cần tra cứu" />
        </div>
        <div class="col-md-5">
            <button class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<div style="height: 500px; overflow-y:auto; display:block; overflow-x:auto;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Tên bộ luật
                </th>
                <th>
                    Đường dẫn
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Luats)
            {
                <tr>
                    <td>
                        <eq-highlight-text text="@Model.Text" value="@(item.id)" />
                    </td>
                    <td>
                        <eq-highlight-text text="@Model.Text" value="@(item.tenBoLuat)" />
                    </td>
                    <td>
                        <a href="@Html.DisplayFor(modelItem => item.duongDan)" target="_blank" rel="noopener noreferrer">Xem</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
