@model TheFront.Models.LuatViewModel

@{
    ViewData["Title"] = "Home_TraCuuLuat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="display:flex; justify-content:center; margin-top: 1.5em; margin-bottom: 1em;">Tra cứu luật</h1>

<style>
    form.law-form, form.law-form button {
        box-sizing: border-box;
    }
        form.law-form input[type=text] {
            padding: 10px;
            border: 1px solid grey;
            float: left;
            width: 90%;
        }

        form.law-form button {
            float: left;
            width: 10%;
            padding: 10px;
            background: #2196F3;
            color: white;
            border: 1px solid grey;
            border-left: none;
            cursor: pointer;
        }

            form.law-form button:hover {
                background: #0b7dda;
            }

        form.law-form::after {
            content: "";
            clear: both;
            display: table;
        }
</style>

<form class="law-form" method="post">
        <input asp-for="@Model.Text" placeholder="Nhập nội dung cần tra cứu" type="text" />
        <button><i class="fas fa-search"></i></button>
</form>

<div style="height: 500px; overflow-y:auto; display:block; overflow-x:auto;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Tên bộ luật
                </th>
                <th>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Luats)
            {
                <tr>
                    <td style="table-layout: fixed; width: 5em;">
                        <eq-highlight-text text="@Model.Text" value="@(item.id)" />
                    </td>
                    <td>
                        <eq-highlight-text text="@Model.Text" value="@(item.tenBoLuat)" />
                    </td>
                    <td>
                        <a href="@Html.DisplayFor(modelItem => item.duongDan)" target="_blank" rel="noopener noreferrer">Xem</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
