@model IEnumerable<TheFront.Models.PhuongTiensModel>

@{
    ViewData["Title"] = "Home_DangKiem";
}


<h1 style="display:flex; justify-content:center; margin-top: 1.5em; margin-bottom: 1em;">Danh sách phương tiện đã đăng kiểm</h1>
<div class="table-responsive-sm" style="height:500px; overflow-x:auto; overflow-y:auto;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Nhãn hiệu
                </th>
                <th>
                    Loại phương tiện
                </th>
                <th>
                    Số khung
                </th>
                <th>
                    Số máy
                </th>
                <th>
                    Thông báo dành cho phương tiện
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nhanHieu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.loaiPhuongTien)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.soKhung)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.soMay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.thongBaoDanhChoPhuongTien)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                        @Html.ActionLink("Xem chi tiết", "Details_DangKiem", new { id = item.id })
                        @Html.ActionLink("Xem lịch sử đăng kiểm", "CheckHistory_DangKiem", new { id=item.id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>